In [1]:
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [2]:
import sqlite3

In [3]:
con = sqlite3.connect("escola.db")

In [4]:
type(con)

sqlite3.Connection

In [5]:
cur = con.cursor()

In [6]:
sql_create = """
create table cursor
(id integer primary key,
titulo varchar(100),
categoria varchar(100))

"""

In [8]:
cur.execute(sql_create)

In [9]:
sql_insert = 'insert into cursor values (?,?,?)'

In [10]:
registros = [(1000,"Teste 1","Data science"),
(1001,"Teste 2","Data science"),
(1002,"Teste 3","Data science")
]

In [11]:
for rec in registros:
    cur.execute(sql_insert,rec)

In [13]:
con.commit()

In [21]:
sql_select = "select * from cursor"
dados = cur.execute(sql_select)

In [22]:
for registros in dados:
    print ("curso id: %d , Titulo: %s, Categoria: %s" % registros)

curso id: 1000 , Titulo: Teste 1, Categoria: Data science
curso id: 1001 , Titulo: Teste 2, Categoria: Data science
curso id: 1002 , Titulo: Teste 3, Categoria: Data science

In [24]:
registros = [(1003,"Teste 4","Data science"),(1004,"Teste 5","Data science")]
for rec in registros:
    cur.execute(sql_insert,rec)

In [25]:
dados = cur.execute(sql_select)

In [26]:
for registros in dados:
    print ("cursor id: %d, Titulo %s, Categoria: %s" % registros)

cursor id: 1000, Titulo Teste 1, Categoria: Data science
cursor id: 1001, Titulo Teste 2, Categoria: Data science
cursor id: 1002, Titulo Teste 3, Categoria: Data science
cursor id: 1003, Titulo Teste 4, Categoria: Data science
cursor id: 1004, Titulo Teste 5, Categoria: Data science

In [27]:
con.close()